<div [@routerTransition]>
   
    <div class="card mb-3">
        <div class="card-header">Lista de locais</div>
        <div class="card-body table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Beacon ID</th>
                    <th>Força do Sinal</th>
                    <th>Mensagem</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor='let beacon of beaconList | async'>
                    <td>{{beacon.name}}</td>
                    <td>{{beacon.id}}</td>
                    <td>Forte - 5m</td>
                    <td>{{beacon.message}}</td>
                    <td><a (click)="edit()">Editar</a></td>
                    <td><a (click)="delete()">Excluir</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
 
  
</div>
