<div [@routerTransition]>
   
    <div class="card mb-3">
        <div class="card-header">Lista de locais</div>
        <div class="card-body table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Força do Sinal</th>
                    <th>Mensagem</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Secretaria</td>
                    <td>Forte - 5m</td>
                    <td>Voçê está próximo da secretaria.</td>
                    <td><a (click)="edit()">Editar</a></td>
                    <td><a (click)="delete()">Excluir</a></td>
                </tr>
                <tr>
                    <td>Sala de Aula - Sistemas de Informação</td>
                    <td>Médio - 3m</td>
                    <td>Sala do curso de Sistemas de Informação</td>
                    <td><a (click)="edit()">Editar</a></td>
                    <td><a (click)="delete()">Excluir</a></td>
                </tr>
                <tr>
                    <td>Sala de Aula - Administração</td>
                    <td>Fraco - 1m</td>
                    <td>Sala do curso de Administração</td>
                    <td><a (click)="edit()">Editar</a></td>
                    <td><a (click)="delete()">Excluir</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
 
  
</div>
